p {
    padding: 0px;
    margin: 0px;
    color:white;
    font-family:'Open Sans';
}

h1 {
  font-size:100px;
  color:white;
}

body {
    background-image: url('background.jpg');
    background-size: 110%;
    font-family:'Open Sans';
}

input {
  width: 90%;
}

.h1name {
    text-align: center;
    color: pink;
    font-size: 120px;
    margin: 0px;
    margin-top: 40px;
    padding: 0px;
    font-family:'Open Sans';
    font-weight: bolder;
}
.h2line1 {
    text-align: center;
    color: pink;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    font-family:'Open Sans';
}
.h2line2 {
    text-align: center;
    color: pink;
    font-size: 30px;
    margin: 0px;
    margin-bottom: 40px;
    padding: 0px;
    font-family:'Open Sans';
}

div {
    padding: 15px;
    text-align: center;
    font-family:'Open Sans';
    border-radius: 5%;
}
.divleft {
    background: rgb(152, 62, 92);
    float: left;
    margin-left: 40px;
    width: 420px;
    height: 390px;
}
.divcenter {
    background: rgb(152, 62, 92);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    height: 390px;
}
.divcenterbar {
    background: rgb(152, 62, 92);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: auto;
    height: auto;
}

.divcalculate {
  background: rgb(152, 62, 92);
  position: relative;
  float: bottom;
  margin-left: auto;
  margin-right: auto;
  margin-top: 930px;
  width: 330px;
  height: 90px;
}
.divoverall {
  background: rgb(152, 62, 92);
  position: relative;
  float: bottom;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 330px;
  height: 90px;
}
.divstartbar {
  background: rgb(152, 62, 92);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 40px;
  width: 20%;
  height: 2%;
}
.divright {
    background: rgb(152, 62, 92);
    float: right;
    margin-right: 40px;
    width: 420px;
    height: 390px;
}

.divrighthalfinput {
  background: rgb(152, 62, 92);
  float: right;
  margin-right: 40px;
  text-align: left;
  width: 40%;
  height: auto;
}
.divlefthalfinput {
  background: rgb(152, 62, 92);
  float: left;
  margin-left: 40px;
  text-align: left;
  width: 40%;
  height: auto;
}

.divrighthalf {
  background: rgb(152, 62, 92);
  margin-top:10px;
  height:270px;
  float: right;
  margin-right: 40px;
  text-align: left;
  width: 270px;
  height: 270px;
}
.divlefthalf {
  background: rgb(152, 62, 92);
  margin-top:10px;
  height:270px;
  float: left;
  margin-left: 40px;
  margin-bottom: 10px;
  text-align: left;
  width: 270px;
  height: 270px;
}
.divcenterresult {
  background: rgb(152, 62, 92);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10px;
  width: 40%;
  height: auto;
  color: white;
}
.divbanner {
  background: rgb(152, 62, 92);
  display: block;
  margin-top: 0%;
  width: 100%;
  height: auto;
  border-radius: 0%;
  opacity: 1;
}

.button {
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    background-color: rgb(196, 80, 98);
    text-align: center;
    font-size: 16px;
    font-family:'Open Sans';
    padding: 20px;
    width: 210px;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 4px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  #panel, #flip {
    padding: 5px;
    text-align: left;
    border: solid 1px #c3c3c3;
    color: white;
    cursor: pointer;
  }
  
  #panel {
    padding: 20px;
    display: none;
  }
  
  #panel2, #flip2 {
    padding: 5px;
    text-align: left;
    border: solid 1px #c3c3c3;
    color: white;
    cursor: pointer;
  }
  
  #panel2 {
    padding: 20px;
    display: none;
  }
  
  #panel3, #flip3 {
    padding: 5px;
    text-align: left;
    border: solid 1px #c3c3c3;
    color: white;
    cursor: pointer;
  }
  
  #panel3 {
    padding: 20px;
    display: none;
  }
  
  #panel4, #flip4 {
    padding: 5px;
    text-align: left;
    border: solid 1px #c3c3c3;
    color: white;
    cursor: pointer;
  }
  
  #panel4 {
    padding: 20px;
    display: none;
  }

  #panel5, #flip5 {
    padding: 5px;
    text-align: left;
    border: solid 1px #c3c3c3;
    color: white;
    cursor: pointer;
  }
  
  #panel5 {
    padding: 20px;
    display: none;
  }

  #panel6, #flip6 {
    padding: 5px;
    text-align: left;
    border: solid 1px #c3c3c3;
    color: white;
    cursor: pointer;
  }
  
  #panel6 {
    padding: 20px;
    display: none;
  }

  #panel7, #flip7 {
    padding: 5px;
    text-align: left;
    border: solid 1px #c3c3c3;
    color: white;
    cursor: pointer;
  }
  
  #panel7 {
    padding: 20px;
    display: none;
  }

  #panel8, #flip8 {
    padding: 5px;
    text-align: left;
    border: solid 1px #c3c3c3;
    color: white;
    cursor: pointer;
  }
  
  #panel8 {
    padding: 20px;
    display: none;
  }

  #panel9, #flip9 {
    padding: 5px;
    text-align: left;
    border: solid 1px #c3c3c3;
    color: white;
    cursor: pointer;
  }
  
  #panel9 {
    padding: 20px;
    display: none;
  }

  #panel10, #flip10 {
    padding: 5px;
    text-align: left;
    border: solid 1px #c3c3c3;
    color: white;
    cursor: pointer;
  }
  
  #panel10 {
    padding: 20px;
    display: none;
  }

  @media (max-width: 600px) { 
  h1 {
    font-size:60px;
    color:white;
  }
  h2 {
    font-size:25px
  }

  .divleft {
    background: rgb(152, 62, 92);
    margin-top:10px;
    height:auto;
    width:96%;
    color:white;
    margin-left: 10px;
    margin-right: auto;
    text-align: left;
  }
  .divcenter {
    background: rgb(152, 62, 92);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 580px;
    width: 96%;
    height: auto;
    color: white;
  }
  .divright {
    background: rgb(152, 62, 92);
    margin-top:20px;
    height:auto;
    width:96%;
    display: block;
    margin-left: auto;
    margin-right: 10px;
    text-align: left;
  }

  .button {
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    background-color: rgb(196, 80, 98);
    text-align: center;
    font-size: 12px;
    font-family:'Open Sans';
    padding: 10px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .divcenterbar {
    background: rgb(152, 62, 92);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: auto;
    height: auto;
}

  .divrighthalfinput {
    background: rgb(152, 62, 92);
    margin-top:10px;
    height:auto;
    width:45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  .divlefthalfinput {
    background: rgb(152, 62, 92);
    margin-top:10px;
    height:auto;
    width:45%;
    color:white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: left;
  }
  .divcalculate {
    background: rgb(152, 62, 92);
    position: relative;
    float: bottom;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1070px;
    width: 330px;
    height: auto;
  }

  .divrighthalf {
    background: rgb(152, 62, 92);
    margin-top:10px;
    height:290px;
    width:45%;
    display: block;
    margin-left: auto;
    margin-right: 10px;
    text-align: left;
  }
  .divlefthalf {
    background: rgb(152, 62, 92);
    margin-top:10px;
    height:290px;
    width:45%;
    color:white;
    margin-left: 10px;
    margin-right: auto;
    text-align: left;
  }
  .divcenterresult {
    background: rgb(152, 62, 92);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 340px;
    width: 95%;
    height: auto;
    color: white;
  }
  .divbanner {
    background: rgb(152, 62, 92);
    display: block;
    margin-top: 0%;
    width: 100%;
    height: auto;
    border-radius: 0%;
    opacity: 1;
  }
  .divstartbar {
    background: rgb(152, 62, 92);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 40px;
    width: 40%;
    height: 2%;
  }
}
